/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search-container {
    z-index:1000;
    margin-top:17rem;
  }
}
body{
  background-color: #fed136;
}
.searchbar-heading
{
  color:#fed136;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 2rem;
}
.searchbar-subheading{
  font-style: italic;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color:#fed136;
}
.allmeno-button
{
  
}
div .allmeno-color
{
  color: #fed136;
}
.allmeno-color:hover
{
  color: white;
}
.navbar-background
{
  background-color: black;
}
.allmeno-border
{
  border: 2px solid red;
}
.search-container{
  text-align: center;
  top:-26rem;
  position: relative;
}
#particles-js{
  width:100%;
  height: 100%;
  background-image: url("../images/Fotoram.io.jpg");
  background-repeat: no-repeat;
}
.search-option
{
  /*color: #fed136;*/
  color: black;
  text-transform: uppercase;
  display: inline;
  margin-left:0px;
  margin-right:0px
}
.table-head
{
  background-color: #fed136;
}
blink {
  animation: blinker 0.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
  80%{
    color: white;
  }
  100%{
    color:black
  }
}
.promotion-banner{
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  border-radius: 0.5rem;
  color:#fed136;
  background-color: black;
  line-height:40px;
}
.promotion-banner-text {
  animation: blinker2 1.5s linear infinite;
}
@keyframes blinker2 {
  20% {
    opacity: 0;
    font-size:12px;

  }
  50%{
    color: white;
  }
  80%{
    color:orangered;
  }
  100%{
    color: #fed136;
    font-size: 19px;
  }
}